@page
@model BankSystemASP.Pages.moneyTransactionModel
@{
}

<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Банк</title>
  <link href="@Url.Content("~/css/TransactionStyle.css")" rel="stylesheet" type="text/css" />
  <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")" type="text/javascript"></script> 
  <script src="@Url.Content("~/lib/jquery/dist/JQ.js")" type="text/javascript"></script> 
</head>

<body class="transactionPage">
    <h2>Перевод с карты на карту</h2>
    <p>Переводы между карточками, эмитированными банками Республики Беларусь</p>
    <div class="transactionForm">
        <div class="transactionFormData">
            <div>C карты</div>
            <input placeholder="Номер карты" class="cardMask">
            <input placeholder="Срок действия" class="dateMask">
            <input placeholder="CVV код" class="cvvMask">
        </div>
        <div class="transactionForm_arrow">
            +
        </div>
        <div class="transactionFormData">
            <div>На карту</div>
            <input placeholder="Номер карты" class="cardMask">
        </div>
    </div>
    <input type="text" placeholder="Сумма" name="sum" required>  
    <button type="submit" class="btn">Перевести</button>
    <script>
        $(".cardMask").mask("9999-9999-9999-9999");
        $(".cvvMask").mask("999");
        $(".dateMask").mask("99/99");
    </script>
</body>
</html>