@using BankSystemASP.Domain.Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Customer
@{
    ViewData["Title"] = "Регистрация пользователя";
}


<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
    <link href="@Url.Content("~/css/RegistrationStyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="registrationForm">
  <form class="form-container" action="/Account/Register" method="post">
    <h1>Регистрация</h1>
    <div>
      <label for="surname"  >Фамилия</label>
      <input type="text" asp-for="SurName" placeholder="Фамилия" id="surname">
    </div>
    <div>
      <label for="name" >Имя</label>
      <input type="text" asp-for="Name" placeholder="Имя" id="name">
    </div>
    <div>
      <label for="patronymic" >Отчество</label>
      <input type="text" asp-for="Patronymic" placeholder="Отчество" id="patronymic">
    </div>
    <div>
      <label for="email" >Адрес электронной почты</label>
      <input type="text" asp-for="Email" placeholder="E-mail" id="email">
    </div>
    <div>
      <label for="password" >Пароль</label>
      <input type="password" asp-for="HASHED_PASSWORD" placeholder="Пароль" id="password">
    </div>
    <div>
      <label for="repeatPassword">Повтор пароля</label>
      <input type="password" placeholder="Пароль" id="repeatPassword">
    </div>
    <button type="submit" class="btn">Регистрация</button>
  </form>
</div>
</body>
</html>

